 <!DOCTYPE html>
  <html>
      <head><title>Chris's Blog</title>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="css/chrisblog.css">
      <link rel="icon" href="data:;base64,iVBORwOKGgo=">
      
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body class="red ">
        <header>
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <nav>
                <div class="nav-wrapper red">
                    <ul id="slide-out" class="side-nav fixed red">
                    
                    <li><a href="index.html" class="red" >Home</a></li>
                    <li><a href="admin.html" class="red" >Account</a></li>
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">Blog<i class="mdi-navigation-arrow-drop-down"></i></a>
            <div class="collapsible-body red ">
              <ul>
                <li><a href="blog.html" class="red">Add Blog</a></li>
                <li><a href="#!" class="red">Second</a></li>
                <li><a href="#!" class="red">Third</a></li>
                <li><a href="#!" class="red">Fourth</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
    </ul>

    
    <a href="#" data-activates="slide-out" class="button-collapse show-on-large btn btn-large waves-effect waves-light show-on-large" type="open" name="open"><i class="medium material-icons">view_week</i></a>

                    <a href="#" class="brand-logo">Chris Wyatt's Blog</a>
                    
                </div>
            </nav>
        </header>
        <main>
                
            <div class="container">
                <div class="row">
                    <h1 class="center-align" id="words" >Blog</h1>
                </div>
                <div class="row">
                    <div class="col s12 main-container">
                        
                    </div>
                </div>
            </div>
        </main>
        <footer class="page-footer red">
            <div  class="container">
                <p><a href="#">Back to the top</a></p>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    @2016 Chris Wyatt
                </div>
            </div>
        </footer>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="libs/backendless.js"></script>
      <script type="text/javascript" src="js/chrisblog.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
      <script type="text/javascript" src="js/handlebars-v4.0.5.js"></script>

      
      <script  id="blogs-template" type="text/x-handlebars-temolate">
          {{#each posts}}
          <div class="blog-post">
              <h2 class="blog-post-title">{{title}}</h2>
              <p class="blog-post-meta"> Posted On {{format created}} by {{authorEmail}}</p>
              <div>{{content}}</div>
          </div>
          {{/each}}
      </script>
    </body>
  </html>